##**ASSIGNMENT - 4**

##**1. What exactly is [ ]?**
**ANS -**

The empty list value, which is a list value that contains no items. This is similar to how " " is the empty string value.

##**2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)**

**ANS -**

spam[2] = 'hello' (Notice that the third value in a list is at index 2 because the first index is 0.)

In [4]:
spam=[2,4,6,8,10]
spam[2]= 'hello' ##Assigning the value 'hello' as the third value of spam

spam

[2, 4, 'hello', 8, 10]

###**Let&#39;s pretend the spam includes the list [ 'a', 'b' , 'c' , 'd' ]  for the next three queries.**

In [9]:
spam=[ 'a', 'b' , 'c' , 'd' ]

##**3. What is the value of spam[int(int('3' *2) / 11) ] ?**

**ANS -** 'd'

(Note that '3' * 2 is the string '33', which is passed to int() before being divided by 11. This eventually evaluates to 3. Expressions can be used wherever values are used.)

In [8]:
spam[int(int('3' *2) / 11) ]

'd'

##**4. What is the value of spam[-1]?**

**ANS -**
'd' (Negative indexes count from the end.)

In [14]:
spam[-1]

'd'

##**5. What is the value of spam[:2]?**

**ANS -**  ['a', 'b']

(Note- starting from 0th index upto 2nd index of the list)

In [15]:
spam[:2] #starting from 0th index upto 2nd index of the list

['a', 'b']

###**Let's pretend bacon has the list [3.14 ,'cat',  11 , 'cat', True ] for the next three questions.**

In [2]:
bacon=[3.14 ,'cat', 11 , 'cat', True ]

##**6. What is the value of bacon.index('cat')?**

**ANS -** 1

(Note- index() returns the first occurance of the value)

In [3]:
bacon.index('cat')

1

##**7. How does bacon.append(99) change the look of the list value in bacon?**

**ANS -** [3.14, 'cat', 11, 'cat', True, 99]

In [4]:
bacon.append(99) # append() function inserts a single element into an existing list.

In [5]:
bacon # The element will be added to the end of the old list rather than being returned to a new list.

[3.14, 'cat', 11, 'cat', True, 99]

##**8. How does bacon.remove('cat') change the look of the list in bacon?**

**ANS -** [3.14, 11, 'cat', True , 99 ]

In [9]:
bacon

[3.14, 11, 'cat', True, 99]

In [10]:
bacon.remove('cat') #remove() function removes the 1st occured element of a repetative element

In [8]:
bacon

[3.14, 11, 'cat', True, 99]

##**9. What are the list concatenation and list replication operators?**

**ANS -**

The operator for list concatenation is  + , while the operator for replication is * .

In [47]:
li1=[1,2,5,25,1232]
li2=[12,74,85,56]
# list concatination
li3=li1+li2
print(li3)
#list replication
li4=li2*3
print(li4)

[1, 2, 5, 25, 1232, 12, 74, 85, 56]
[12, 74, 85, 56, 12, 74, 85, 56, 12, 74, 85, 56]

##**10. What is difference between the list methods append() and insert()?**

**ANS -**

While append() will add values only to the end of a list, insert() can add them anywhere in the list.

In [36]:
li1=[1,2,5,'kanha',12.32]
li1.append([12,74,85,5.6]) #append() function addes the list at the end of li1
li1

[1, 2, 5, 'kanha', 12.32, [12, 74, 85, 5.6]]

In [37]:
li1.insert(2,(12,52,41,5.3))
li1 # insert() function added the tuple at 2nd index

[1, 2, (12, 52, 41, 5.3), 5, 'kanha', 12.32, [12, 74, 85, 5.6]]

##**11. What are the two methods for removing items from a list?**

**ANS -**

The del statement and the remove() list method are two ways to remove values from a list.

In [21]:
li1=[1,2,5,'kanha',12.32]
#rmoving 5 from the above list li1
li1.remove(5)
li1

[1, 2, 'kanha', 12.32]

In [23]:
 #del statement will completely delete the list
 del li1
 li1

NameError: ignored

##**12. Describe how list values and string values are identical.**

**ANS -**

Both lists and strings can be passed to len(), have indexes and slices, be used in for loops, be concatenated or replicated, and be used with the in and not in operators.

##**13. What's the difference between tuples and lists?**

**ANS -**

Lists are mutable; they can have values added, removed, or changed. Tuples are immutable; they cannot be changed at all. Also, tuples are written using parentheses, ( and ), while lists use the square brackets, [ and ].

##**14. How do you type a tuple value that only contains the integer 42?**

**ANS -**  (42,)(The trailing comma is mandatory.)

In [16]:
type((42)) #without tailling comma it is int.

int

In [17]:
type((42,)) # with tailing comma it is tuple.

tuple

##**15. How do you get a list values tuple form? How do you get a tuple value's list form?**

**ANS -**

The tuple() and list() functions, respectively.

In [20]:
#Creating a list
li1=[1,2,5,'kanha',12.32]

#converting list li1 to tuple
tup1=tuple(li1)
#converting the tuple tup1 to list
li2=list(tup1)
print(f"""
data type of li1: {type(li1)}
data type of tup1: {type(tup1)}
data type of li2: {type(li2)}
""" )

data type of li1: <class 'list'>
data type of tup1: <class 'tuple'>
data type of li2: <class 'list'>

##**16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?**

**ANS -**

They contain references to list values.

##**17. How do you distinguish between copy.copy() and copy.deepcopy()?**##

**ANS -**

The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list. That is, only copy.deepcopy() will duplicate any lists inside the list.
 
 As you can see that both have the same value but have different IDs.

In [18]:

# importing copy module
import copy
 
# initializing list 1
li1 = [1, 2, [3, 5], 4]
 
# using copy for shallow copy
li2 = copy.copy(li1)
print("li2 ID: ", id(li2), "Value: ", li2)
# using deepcopy for deepcopy
li3 = copy.deepcopy(li1)
print("li3 ID: ", id(li3), "Value: ", li3)

li2 ID:  139956466297904 Value:  [1, 2, [3, 5], 4]
li3 ID:  139956466297424 Value:  [1, 2, [3, 5], 4]