#  **ASSIGNMENT- 2** #

##**1.What are the two values of the Boolean data type? How do you write them?**##

ANS -

Python boolean type is one of the built-in data types provided by Python, which represents one of the two values i.e. True or False. Generally, it is used to represent the truth values of the expressions. For example, 1==1 is True whereas 2<1 is False . 

* True-   True represents the value 1.

* False-  False represents the value 0.

Syntax for boolean data type - bool(x)

EXAMPLE -

In [2]:

a = True # checking boolean type
type(a)

bool

In [13]:
 b = 1 # any value other than 0 returns True
 bool(b)

True

In [12]:
c = 0 # 0 returns False
bool(c)

False

In [16]:
1 == 1 # as the statement is True it will return True

True

In [17]:
2>3 # as the sataement is False it will return False

False

## **2. What are the three different types of Boolean operators?**

Three different types of Boolean operators  are 

* Logical AND
* Logical OR 
* Logical NOT 

 It is used to combine conditional statements.

  
 Operator | Syntax | Description
 - | - | -
AND | Logical AND: True if both the operands are true | x and y
OR | Logical OR: True if either of the operands is true  | x or y
NOT | 	Logical NOT: True if the operand is false |	not x  


EXAMPLE -

In [18]:

# Examples of Logical Operator
a = True
b = False
  
# Print a and b is False
print(a and b)
  
# Print a or b is True
print(a or b)
  
# Print not a is False
print(not a)

False
True
False

## **3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate).** 

ANS -

## *1.Logical AND truth table -*

Statement1 | Statement2 | Result
 - | - | -
 True | True | True
 True | False | False
 False | True | False
 False | False | False

## *2.Logical OR truth table -* 

Statement1 | Statement2 | Result
 - | - | -
 True | True | True
 True | False | True
 False | True | True
 False | False | False


## *3.Logical NOT truth table -* 

Statement | Result
- | -
 True | False
False | True

## **4. What are the values of the following expressions?**

In [20]:
(5 > 4) and (3 == 5) # True anded with False results False, logical and operation

False

In [21]:
not (5 > 4) # logical NOT operation

False

In [22]:
(5 > 4) or (3 == 5) # logical or operation ,TRue ored with False results True

True

In [24]:
not ((5 > 4) or (3 == 5))  # not True returns False

False

In [25]:
(True and True) and (True == False) #True anded with false results False

False

In [26]:
(not False) or (not True) #True ored with False results True

True

## **5. What are the six comparison operators?** ##

###Comparison of Relational operators compares the values. It either returns True or False according to the condition.

 **serial no.**| **Operator** | **Description** | **Syntax**
- | - | - | -
1. | > |	Greater than: True if the left operand is greater than the right	|x > y
2.  | < |	Less than: True if the left operand is less than the right |	x < y
3. |== |	Equal to: True if both operands are equal	 | x == y
4. |!= |	Not equal to – True if operands are not equal	 | x != y
5. | >=|	Greater than or equal to True if the left operand is greater than or equal to the right | x >= y
6.|<=	|Less than or equal to True if the left operand is less than or equal to the right|	x <= y

 
 **EXAMPLE -**

In [27]:
# Examples of Relational Operators
a = 13
b = 33
  
# a > b is False
print(a > b)
  
# a < b is True
print(a < b)
  
# a == b is False
print(a == b)
  
# a != b is True
print(a != b)
  
# a >= b is False
print(a >= b)
  
# a <= b is True
print(a <= b)

False
True
False
True
False
True

## **6. How do you tell the difference between the equal to and assignment operators? Describe a condition and when you would use one.** ##

* The '=' is the so-called assignment operator and is used to assign the result of the expression on the right side of the operator to the variable on the left side.

* The '==' is the so-called equality comparison operator and is used to check whether the two expressions on both sides are equal or not.

* It is a common error to mistype '==' as '=' which can lead to errors in IF comparisons, non-initialized variables etc.

* In the following example -

 the variable a is set to 1. In the IF expression, 'a' should be compared to 0, but it is assigned by mistake the value 0 instead. The result of the expression is not a boolean value (true or false) and an error message is generated to inform you about the problem:

In [28]:
# WRONG CODE
a = 1 #assignment operator
if a = 0 :  #it should be a comparison  operator
   print ("A is Zero!")
else :
   print ("A is not Zero!")  
 # Type error: if-test requires BooleanClass, got: 0

SyntaxError: ignored

In [29]:
# CORRECT CODE
a = 1 #assignment operator
if a == 0 :  # comparison  operator
   print ("A is Zero!")
else :
   print ("A is not Zero!")

A is not Zero!

## **7. Identify the three blocks in this code:**

In [30]:
spam = 0
if spam == 10: ## BLOCK - 1 
  print('eggs')
if spam > 5:   ## BLOCK - 2
  print('bacon')
else:          ## BLOCK - 3
  print('ham')
  print('spam')
  print('spam')

ham
spam
spam

### **The three blocks from the above code are as followings -**
 
 * **BLOCK-1:**
       if spam == 10:  
         print('eggs')

 * **BLOCK-2:**
       if spam > 5:   
         print('bacon')

 * **BLOCK-3:**
        else:          
          print('ham')
          print('spam')
          print('spam')

## **8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.**

**ANS -**

In [50]:

if spam == 1 : # 1 not stored in spam
  print('Hello')
elif spam == 2 : # 2 not stored in spam
  print('Howdy')
else :
  print('Greetings!')

Greetings!

## **9.If your programme is stuck in an endless loop, what keys you’ll press?**

* The break statement can be used to stop a infinite loop immediately.
* You can also stop an infinite loop with CTRL + C .

In [ ]:
# Define a variable
i = 5

# Run this loop while i is less than 15
while i < 15:
    # Print a message
    print("Hello, World!")

In [40]:
# Define a variable
i = 5

# Run this loop while i is less than 15
while i < 15:
    # Print a message
    print("Hello, World!")
  break

IndentationError: ignored

## **10. How can you tell the difference between break and continue?**

* **break :**

 “break” is used to control the flow of the loop. The statement is used to break out of the loop and passes the control to the statement following immediately after loop.

* **continue :**

 “continue” is also used to control the flow of code. The keyword skips the current iteration of the loop but does not end the loop.

 **EXAMPLE -**

In [41]:
#Break -
# Using for loop
for i in range(10):
  
    print(i, end = " ")
      
    # break the loop as soon it sees 6
    if i == 6:
        break
print()
 
 
# Continue -   
# loop from 1 to 10
i = 0
while i <10:
      
    # If i is equals to 6,
    # continue to next iteration
    # without printing
    if i == 6:
        i+= 1
        continue
    else:
        # otherwise print the value
        # of i
        print(i, end = " ")
          
    i += 1

0 1 2 3 4 5 6
0 1 2 3 4 5 7 8 9

## **11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1) ?**

**ANS :**

range() is a built-in function provided by Python. This function is commonly used with a for loop for looping over a range of numbers. This function returns a sequence of numbers that, by default, starts with zero, increments by 1, and ends at a specified number passed as an argument. However, it is possible to provide this function as an argument for the starting number, increment step size, and the number at which it needs to stop.There are three ways in which a range() function can be used:

* **range(stop)**
 * **range(10):** It is the default version of the range() function. It will generate a sequence of numbers starting from 0, incrementing by 1, and ending at 9 excluding the endpoint.

In [43]:
for i in range(10):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

* **range(start, stop)**
 * **range(0, 10) :** It will generate a sequence of numbers starting at 0 and   ending at 9 excluding the endpoint, by default incremented by 1.

In [44]:
for i in range(0,10):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

* **range(start,stop,increment)**
 * **range(0,10,1) :** It will generate a sequence of numbers starting at 0 and ending at 9 excluding the endpoint,  incremented by 1.

In [45]:
for i in range(0,10,1):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

**CONCLUSION :**
The above three range function have same output but they are written in different ways.

## **12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalentprogram that prints the numbers 1 to 10 using a while loop.**

* **Using For Loop :**

In [48]:
for i in range(1,11):
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

* **Using while loop:**

In [49]:
i=1
while i <= 10:
  print(i,end=" ")
  i +=1

1 2 3 4 5 6 7 8 9 10

## **13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam ?** 

**ANS -**
 

This function can be called with spam.bacon().

In [ ]:
spam.bacon()