# **PROGRAMMING ASSIGNMENT - 10**

## **1. Write a Python program to find sum of elements in list?**

In [3]:
def sum_list(l) :
  print(" the sum of list objects is :",end = ' ')
  return sum(l)

l = [11, 5, 17, 18, 23]
sum_list(l)

 the sum of list objects is :

74

### **2. Write a Python program to Multiply all numbers in the list?**

In [6]:
def mul_list(l):

  # multiplying elements one by one..
  result = 1
  for i in l :
    result *= i
  return result

list1 = [12,41,5,1,2,3,6,5]
print("The product of all elements of the list is :",mul_list(list1))

The product of all elements of the list is : 442800

## **3. Write a Python program to find smallest number in a list?**

In [10]:
def smallest_in_list(l):
  l = sorted(l)
  return l[0]

l1 = [22,46,5245,414,5524,2222,5,85,5,45,5,53]
print("The smallest element in the given list is :",smallest_in_list(l1))

The smallest element in the given list is : 5

## **4. Write a Python program to find largest number in a list?**

In [12]:
def largest_in_list(l):
  l = sorted(l)
  return l[-1]

l1 = [22,46,5245,414,5524,2222,5,85,5,45,5,53]
print("The largest element in the given list is :",largest_in_list(l1))

The largest element in the given list is : 5524

## **5. Write a Python program to find second largest number in a list?**

In [13]:
list1 = [10, 20, 4, 45, 99]

# print second maximum element using sorted() method
print("Second largest element is:", sorted(list1)[-2])

Second largest element is: 45

## **6. Write a Python program to find N largest elements from a list?**

In [22]:
def N_largest(l,N) :
  l = list(set(l))
  return l[-N:]

list1 = [1,2,5,2,4,5,8,7,6,3,5,9,8,4,5,2]
n = 3

print('The',n, 'largest elements from the list :',N_largest(list1,n))

The 3 largest elements from the list : [7, 8, 9]

## **7. Write a Python program to print even numbers in a list?**

In [24]:
list1 = [10, 24, 4, 45, 66, 93]

num = 0

# using while loop
while num < len(list1) :

  # checking condition
  if list1[num] % 2 == 0 :
    print(list1[num],end = ', ')

  # increment num  
  num += 1

10, 24, 4, 66,

## **8. Write a Python program to print odd numbers in a List?**

In [25]:
list1 = [10, 24, 4, 45, 66, 93]

num = 0

# using while loop
while num < len(list1) :

  # checking conditions
  if list1[num] % 2 != 0 :
    print(list1[num],end = ', ')

  # increment num
  num += 1

45, 93,

## **9. Write a Python program to Remove empty List from List?**

In [26]:
test_list = [5, 6, [], 3, [], [], 9]
 
# Printing original list
print("The original list is : " + str(test_list))
 
# Removing empty List from List
# using filter() method
res = list(filter(None, test_list))
 
# Printing the resultant list
print("List after empty list removal : " + str(res))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

##  **10. Write a Python program to Cloning or Copying a list?**

In [27]:
def Cloning(li1):
    li_copy = li1
    return li_copy
   
# Driver Code
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

## **11. Write a Python program to Count occurrences of an element in a list?**

In [30]:
def countX(lst, x):
    return lst.count(x)
 
 
# Driver Code
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 6
print(f'{x} has occurred {countX(lst, x)} times')

6 has occurred 1 times