# Programming Assignment - 23

# Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [36]:
def is_symmetrical(n):
    return str(n) == str(n)[::-1]

In [37]:
is_symmetrical(7227)

True

In [38]:

is_symmetrical(12567)

False

In [39]:
is_symmetrical(44444444)

True

In [40]:
is_symmetrical(9939)

False

In [41]:
is_symmetrical(1112111)

True

# Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [52]:
def multiply_nums(s):
    s = s.replace(' ','')
    s = s.split(',')
    num = 1
    for i in s :
        num *= int(i)
    return num

In [53]:
multiply_nums("2, 3")

6

In [54]:
multiply_nums("1, 2, 3, 4")

24

In [55]:
multiply_nums("54, 75, 453, 0")

0

In [56]:
multiply_nums("10, -2")

-20

# Question 3

Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

## Notes

The function receives an integer and must return an integer.

In [73]:
def square_digits(num):
    res = ''.join(str(int(i)**2) for i in str(num))
    return res

In [74]:
square_digits(9119)

'811181'

In [75]:
square_digits(2483)

'416649'

In [76]:
square_digits(3212)

'9414'

# Question 4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [87]:
def setify(lst):
    return list(set(lst))

In [88]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [89]:
setify([4, 4, 4, 4])

[4]

In [90]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [91]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

# Question 5
Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

## Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

In [92]:
def mean(n):
    lenth = len(str(n))
    sum = mean = 0
    
    for i in str(n):
        sum += int(i)
        
    return int(sum/lenth)

In [93]:
mean(42)

3

In [94]:
mean(12345)

3

In [95]:
mean(666)

6